* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.container {
  background: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background: whitesmoke;
  margin: 1rem;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
  background: purple;
}
